
.navigation { font-family: arial; }
body { font-family: 'Poiret One', cursive, serif, arial; padding: 70px 0; -webkit-padding-start: 70px 0; }
mark { background-color: #ccc; }
.footer img {margin: 0; }
.jumbotron { background-color: #333; color: #fff; }